<%# coding: UTF-8 -%>
<form method="post" action="<%= @form_action || "login" %>" id="login-form" onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;" class="form-horizontal">  
     
        <!--<label id="username-label" for="username">
          <%= t.label.username %>
        </label>      
        -->

         <!--<label id="password-label" for="password">
          <%= t.label.password %>
        </label>
        -->
  <div class="control-group">    
    <input type="text" id="username" name="username"  tabindex="1" accesskey="u" class="input-large input-user" placeholder="请输入用户名" />    
  </div>

  <div class="control-group">    
    <input type="password" id="password" name="password"  tabindex="2" accesskey="p" autocomplete="off" class="input-large input-pwd" placeholder="请输入密码" />    
  </div>

  <div class="login-submit"> 
    <a href="http://www.scscfw.com:90/users/forgot_password">忘记密码？</a>
    <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
    <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
    <input type="submit" class="btn btn-info" accesskey="l" value="<%= t.button.login %>" tabindex="4" id="login-submit" />       
  </div>  
  
</form>
