<%# coding: UTF-8 -%>
<div id="login-box" class="thumbnail">
  <div class="login-header" >    
    <strong><%= escape_html @organization %></strong>
      <%= t.label.central_login_title %>   
  </div>
  
  <% if @message %>  
    <div class="login-massage">
      <div class="messagebox alert <%= escape_html @message[:type] %>">
        <%= escape_html @message[:message] %>
      </div>
    </div>  
  <% end %>  

  <div class="login-form">    
    <%= erb(:_login_form, :layout => false) %>    
  </div>
</div>

